In [264]:
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time  
from selenium.common.exceptions import NoSuchElementException
import requests
import regex as re

In [265]:
driver = webdriver.Chrome()

# Q1: Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [32]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [33]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

try:
    rnk=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rnk[0:30]:
        rank.append(i.text.split('.')[0])
except NoSuchElementException:
    rank.append('-')
    
try:
    nm=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in nm[0:30]:
        name.append(i.text.split('[')[0])
except NoSuchElementException:
    name.append('-')
    
try:
    art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in art[0:30]:
        artist.append(i.text.split('-')[0])
except NoSuchElementException:
    artist.append('-')
    
try:
    updt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in updt[0:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')
    
try:
    vws=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in vws[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

In [34]:
df1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':upload_date,'Views(Billions)':views})
df1

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark,"June 17, 2016",13.18
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.23
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.76
3,4,"""Bath Song""",Cocomelon,"May 2, 2018",6.33
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.05
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.98
6,7,"""Wheels on the Bus""",Cocomelon,"May 24, 2018",5.46
7,8,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.42
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.00
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.94
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.86
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.55
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.41
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.00
14,15,"""Sugar""",Maroon 5,"January 14, 2015",3.91
15,16,"""Roar""",Katy Perry,"September 5, 2013",3.84
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",3.84
17,18,"""Baa Baa Black Sheep""",Cocomelon,"June 25, 2018",3.73
18,19,"""Sorry""",Justin Bieber,"October 22, 2015",3.69
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.68
20,21,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.63
21,22,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.63
22,23,"""Dark Horse""",Katy Perry,"February 20, 2014",3.56
23,24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.51
24,25,"""Faded""",Alan Walker,"December 3, 2015",3.49
25,26,"""Let Her Go""",Passenger,"July 25, 2012",3.48
26,27,"""Humpty the train on a fruits ride""",Kiddiestv Hindi,"January 26, 2018",3.51
27,28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.45
28,29,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.43
29,30,"""Lean On""",Major Lazer,"March 22, 2015",3.43

# Q2: Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/

In [144]:
driver.get("https://www.bcci.tv/")

In [145]:
search=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [146]:
search=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
search.click()

In [147]:
search=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
search.click()

In [148]:
search=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
search.click()

In [149]:
search=driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
search.click()

In [150]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

try:
    mt=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in mt:
        match_title.append(i.text.split('-')[0])
except NoSuchElementException:
    match_title.append('-')
    
try:
    sres=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in sres:
        series.append(i.text)
except NoSuchElementException:
    series.append('-')
    
try:
    plc=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in plc:
        place.append(i.text)
except NoSuchElementException:
    place.append('-')
    
try:
    dt=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in dt:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
    
try:
    tm=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in tm:
        time.append(i.text)
except NoSuchElementException:
    time.append('-')

In [151]:
df2=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df2

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA TOUR OF IRELAND 2023,Dublin,18 AUG 2023,7:30 PM IST
1,2nd T20I,INDIA TOUR OF IRELAND 2023,Dublin,20 AUG 2023,7:30 PM IST
2,3rd T20I,INDIA TOUR OF IRELAND 2023,Dublin,23 AUG 2023,7:30 PM IST
3,1st ODI,ASIA CUP 2023,Pallekele,2 SEP 2023,10:00 AM IST
4,2nd ODI,ASIA CUP 2023,Pallekele,4 SEP 2023,10:00 AM IST
5,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,Mohali,22 SEP 2023,1:30 PM IST
6,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,Indore,24 SEP 2023,1:30 PM IST
7,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,Rajkot,27 SEP 2023,1:30 PM IST
8,1st ODI,ICC MENS WORLD CUP 2023,Chennai,8 OCT 2023,2:00 PM IST
9,2nd ODI,ICC MENS WORLD CUP 2023,Delhi,11 OCT 2023,2:00 PM IST
10,3rd ODI,ICC MENS WORLD CUP 2023,Ahmedabad,14 OCT 2023,2:00 PM IST
11,4th ODI,ICC MENS WORLD CUP 2023,Pune,19 OCT 2023,2:00 PM IST
12,5th ODI,ICC MENS WORLD CUP 2023,Dharamsala,22 OCT 2023,2:00 PM IST
13,6th ODI,ICC MENS WORLD CUP 2023,Lucknow,29 OCT 2023,2:00 PM IST
14,7th ODI,ICC MENS WORLD CUP 2023,Mumbai,2 NOV 2023,2:00 PM IST
15,8th ODI,ICC MENS WORLD CUP 2023,Kolkata,5 NOV 2023,2:00 PM IST
16,9th ODI,ICC MENS WORLD CUP 2023,Bengaluru,12 NOV 2023,2:00 PM IST
17,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,Visakhapatnam,23 NOV 2023,7:00 PM IST
18,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,26 NOV 2023,7:00 PM IST
19,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,28 NOV 2023,7:00 PM IST
20,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,Nagpur,1 DEC 2023,7:00 PM IST
21,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,Hyderabad,3 DEC 2023,7:00 PM IST
22,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,Durban,10 DEC 2023,9:30 PM IST
23,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,12 DEC 2023,9:30 PM IST
24,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,14 DEC 2023,9:30 PM IST
25,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,2:00 PM IST
26,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,19 DEC 2023,2:00 PM IST
27,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Paarl,21 DEC 2023,2:00 PM IST
28,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,Centurion,26 DEC 2023,1:30 PM IST
29,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,Cape Town,3 JAN 2024,1:30 PM IST
30,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,Mohali,11 JAN 2024,7:00 PM IST
31,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,Indore,14 JAN 2024,7:00 PM IST
32,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,Bengaluru,17 JAN 2024,7:00 PM IST
33,1st Test,ENGLAND TOUR OF INDIA 2023-24,Hyderabad,25 JAN 2024,9:30 AM IST
34,2nd Test,ENGLAND TOUR OF INDIA 2023-24,Visakhapatnam,2 FEB 2024,9:30 AM IST
35,3rd Test,ENGLAND TOUR OF INDIA 2023-24,Rajkot,15 FEB 2024,9:30 AM IST
36,4th Test,ENGLAND TOUR OF INDIA 2023-24,Ranchi,23 FEB 2024,9:30 AM IST
37,5th Test,ENGLAND TOUR OF INDIA 2023-24,Dharamsala,7 MAR 2024,9:30 AM IST

# Q3: Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

In [175]:
driver.get("http://statisticstimes.com/")

In [176]:
search=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
search.click()

In [177]:
search=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
search.click()

In [178]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [179]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

try:
    rnk=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in rnk[0:33]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try:
    ste=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in ste[0:33]:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
try:
    gs=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in gs[0:33]:
        gsdp1.append(i.text)
except NoSuchElementException:
    gsdp1.append('-')
    
try:
    dp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in dp[0:33]:
        gsdp2.append(i.text)
except NoSuchElementException:
    gsdp2.append('-')
    
try:
    shr=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in shr[0:33]:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
    
try:
    gp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in gp[0:33]:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('-')

In [180]:
df3=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19) - at current prices':gsdp1,'GSDP(19-20) - at current prices':gsdp2,'Share(18-19)':share,'GDP($ billion)':gdp})
df3

,Rank,State,GSDP(18-19) - at current prices,GSDP(19-20) - at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4: Scrape the details of trending repositories on Github.com. Url = https://github.com/

In [218]:
driver.get("https://github.com/")

In [219]:
search=driver.find_element(By.XPATH,'//nav[@class="mt-0 px-3 px-lg-0 mb-3 mb-lg-0"]/ul/li[3]/button')
search.click()

In [220]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search.click()

In [221]:
github_url=[]

url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    github_url.append(i.get_attribute('href'))

In [222]:
len(github_url)

24

In [223]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

for i in github_url:
    driver.get(i)
    try:
        rt=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]/a')
        repository_title.append(rt.text)
    except NoSuchElementException:
        repository_title.append('-') 
        
    try:
        rd=driver.find_element(By.XPATH,'//div[@class="BorderGrid-cell"]/p')
        repository_description.append(rd.text)
    except NoSuchElementException:
        repository_description.append('-')
        
    try:
        cc=driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        contributors_count.append(cc.text)
    except NoSuchElementException:
        contributors_count.append('-') 
        
    try:
        lu=driver.find_element(By.XPATH,'//li[1][@class="d-inline"]/a/span[1]')
        language_used.append(lu.text)
    except NoSuchElementException:
        language_used.append('-')

In [225]:
df4=pd.DataFrame({'Repository Title':repository_title,'Repository Description':repository_description,'Contibutors Count':contributors_count,'Language Used':language_used})
df4

,Repository Title,Repository Description,Contibutors Count,Language Used
0,Fooocus,Focus on prompting and generating,2,Python
1,privateGPT,Interact privately with your documents using t...,,Python
2,wipeout-rewrite,-,,C
3,neuralangelo,"Official implementation of ""Neuralangelo: High...",,Python
4,hackingtool,ALL IN ONE Hacking Tool For Hackers,,Python
5,yt-dlp,A youtube-dl fork with additional features and...,"1,169",Python
6,awesome-selfhosted,A list of Free Software network services and w...,,Makefile
7,gaussian-splatting,"Original reference implementation of ""3D Gauss...",,Python
8,immich,Self-hosted photo and video backup solution di...,6,Dart
9,lx-music-desktop,一个基于 electron 的音乐软件,8,TypeScript
10,awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...",,-
11,generative_agents,Generative Agents: Interactive Simulacra of Hu...,,-
12,aws-devops-zero-to-hero,AWS zero to hero repo for devops engineers to ...,,Python
13,hiring-without-whiteboards,⭐️ Companies that don't have a broken hiring p...,,JavaScript
14,facechain,FaceChain is a deep-learning toolchain for gen...,,Python
15,mlc-llm,"Enable everyone to develop, optimize and deplo...",,Python
16,youtube-dl,Command-line program to download videos from Y...,,Python
17,SDL,Simple Directmedia Layer,428,C
18,devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...",,Python
19,bitcoin,Bitcoin Core integration/staging tree,916,C++
20,New-Grad-2024,👋 Hey there new grad🎉! We've put together a co...,51,Python
21,Waybar,Highly customizable Wayland bar for Sway and W...,,C++
22,Taiwan-LLaMa,Traditional Mandarin LLMs for Taiwan,,Python
23,TTPForge,The TTPForge is a Framework created to facilit...,,Go

# Q5: Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

In [231]:
driver.get("https://www.billboard.com/")

In [232]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search.click()

In [233]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
search.click()

In [237]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

try:
    sn=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul[1]/li[4]/ul/li[1]/h3')
    for i in sn:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')
    
try:
    an=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul[1]/li[4]/ul/li[1]/span')
    for i in an:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')
    
try:
    lwr=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul[1]/li[4]/ul/li[4]/span')
    for i in lwr:
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append('-')
    
try:
    pr=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul[1]/li[4]/ul/li[5]/span')
    for i in pr:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('-')
    
try:
    wob=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul[1]/li[4]/ul/li[6]/span')
    for i in wob:
        weeks_on_board.append(i.text)
except NoSuchElementException:
    weeks_on_board.append('-')

In [238]:
df5=pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Weeks on Board':weeks_on_board})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

# Q6: Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [239]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [240]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

try:
    bn=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in bn:
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append('-')
    
try:
    an=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in an:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('-')
    
try:
    vs=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in vs:
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('-')
    
try:
    publ=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publ:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
    
try:
    gnr=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in gnr:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [241]:
df6=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df6

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7: Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

In [245]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [246]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

try:
    nm=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/a')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    ys=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/span[2]')
    for i in ys:
        year_span.append(i.text)
except NoSuchElementException:
    year_span.append('-')
    
try:
    gnr=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[5]')
    for i in gnr:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
    
try:
    rt=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[3]')
    for i in rt:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('-')
    
try:
    rtng=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/div/div[1]/span[2]')
    for i in rtng:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
    
try:
    vt=driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')
    for i in vt:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

In [247]:
df7=pd.DataFrame({'Name':name,'Year Span':year_span,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
df7

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,484"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,316"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,724"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,880"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,964"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,415"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,439"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,047"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,668"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,527"

# Q8: Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

In [289]:
driver.get("https://archive.ics.uci.edu/")

In [290]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [291]:
dataset_url=[]

url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    dataset_url.append(i.get_attribute('href'))

In [292]:
len(dataset_url)

10

In [293]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

for i in dataset_url:
    driver.get(i)
    try:
        dn=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        dataset_name.append(dn.text)
    except NoSuchElementException:
        dataset_name.append('-')
        
    try:
        dt=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        data_type.append(dt.text)
    except NoSuchElementException:
        data_type.append('-')
        
    try:
        tsk=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(tsk.text)
    except NoSuchElementException:
        task.append('-')
        
    try:
        at=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attribute_type.append(at.text)
    except NoSuchElementException:
        attribute_type.append('-')
        
    try:
        noi=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_of_instances.append(noi.text)
    except NoSuchElementException:
        no_of_instances.append('-')
        
    try:
        noa=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        no_of_attribute.append(noa.text)
    except NoSuchElementException:
        no_of_attribute.append('-')
        
    try:
        yr=driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        year.append(yr.text)
    except NoSuchElementException:
        year.append('-')

In [294]:
df8=pd.DataFrame({'Dataset Name':dataset_name,'Data Type':data_type,'Task':task,'Attribute Type':attribute_type,'No of instances':no_of_instances,'No of attribute':no_of_attribute,'Year':year})
df8

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,20,-
5,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
8,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987